{% extends 'base.html' %}
{% block content %}
      <div class="nav">
          <h2>– U-20 PLAYERS –</h2>
          <table class="content-nav">
            <thead>
              <tr>
                <td>#player</td>
                <td>age</td>
                <td>
                  club <br />
                  mill. euro
                </td>
                <td>
                  transfer value, <br />
                  mill. euro
                </td>
              </tr>
            </thead>
          </table>
        </div>
      <div class="content">
        <table class="players">
          {% for u20player in u20players %}
            <tr>
            <td>{{ forloop.counter }}. {{ u20player.name}}</td>
            <td>{{ u20player.age }}</td>
            <td>{{ u20player.club }}</td>
            <td>{{ u20player.price}}</td>
          </tr>
          {% endfor %}

        </table>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae soluta
          sequi quia eos cupiditate rerum accusantium odit enim, expedita,
          architecto error dignissimos voluptatibus. Nisi illo, maiores fugit
          amet neque eveniet!
        </p>
      </div>
{% endblock %}
